
{% extends 'base.html'%}
{% load static %}

{% block content %}
<section id="form"><!--form-->
          <div class="container">
                    <div class="row">
                              <div class="col-sm-4 col-sm-offset-1">
                                        <div class="login-form"><!--login form-->
                                                  <h1>Login to your account</h1>
            
                                       <form method="post">

                                        {% csrf_token %}
                                        {% for field in  form  %}
                                        {{ field.errors }}
                                        <label >{{ field.label_tag }} </label>  
                                        <p>{{field}} </p>
                                        {% endfor %}
                                        <a href="{% url 'password_reset' %}"> forgot password</a> <br>
                                        <button class="btn btn-default" type="submit">Login </button>
                                        <a href="{% url 'signup' %}"><span style="margin-left: 120px;">Create Account</span> </a>
                                        </form>
                            </div>    
                   </div>  

        </div>    
</div>          
 </section>                                                           
  {% endblock %}