
{% extends 'base.html'%}
{% load static %}

{% block content %}
<section id="form"><!--form-->
          <div class="container">
                    <div class="row">
                              <div class="col-sm-4 col-sm-offset-1">
                                        <div class="login-form"><!--login form-->
                                                  <h1>new password</h1>
            
                                       <form method="post">
                                       {% if validlink%}
                                        {% csrf_token %}
                                        {% for field in  form  %}
                                        {{ field.errors }}
                                        <label >{{ field.label_tag }} </label>  
                                        <p>{{field}} </p>
                                        {% endfor %}
                                       
                                        <button class="btn btn-default" type="submit">save </button>
                                        
                                        </form>
                                        <p style="colour:red;">Invalid token</p>
                                        <p>
                                                  <a href="{%  url 'password_reset' %}">Request a new password</a>
                                        </p>
                                        {% endif %}
                            </div>    
                   </div>  

        </div>    
</div>          
 </section>                                                           
  {% endblock %}